@import "tailwindcss";


@theme {
    --spacing-8xl: 1360px;
}

:root {
    --navbar-active: black;
    --navbar-inactive: #606060;
    --navbar-height: 66px;
}

.hw-container-md {
    @apply max-w-6xl mx-auto;
}

.hw-container-lg {
    @apply max-w-8xl mx-auto;
}

.hw-container-sm {
    @apply max-w-5xl mx-auto;
}

.text-h2 {
    @apply text-4xl md:text-5xl [&>span]:font-bold inline-flex flex-col
}